
body{
	font-family: "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "メイリオ" , "Meiryo" ,"ＭＳ Ｐ明朝" , "MS PMincho" , "ipaexm" , Garamond , "Times New Roman" , serif;
	padding: 0;
	margin:0;
}

h1.copyright {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
    color:#444444;
}


h2 { 
	font-size:1.5em; 
	color:#4A6EA8;
	margin-bottom: 1em;
	margin-top: 0;
	text-align: left;
	line-height: 0.9em;
}
.subtitle {
	font-size:1.1em; 
	color:#4A6EA8; 
	padding-top: 0.5em;
	padding-bottom: 0.1em;
	margin: 0.0em;
}

.subtitle1{
	font-size: 1.6000em;
	color: #235c9d;
 	display:inline;
	line-height: 60px;
}

.subtitle2 {
	font-size:1.4000em; 
	color:#4A6EA8; 
	padding-top: 0.5000em;
	padding-bottom: 0.1000em;
	margin: 0.0000em;
}

.subtitle3 {
	font-size:1.1000em; 
	color:#4A6EA8; 
	padding-top: 0.5000em;
	padding-bottom: 0.1000em;
	margin: 0.0000em;
}

p{
	font-size:1em;
	color:#444444;
	/*line-height: 1.4em;*/
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin: 0;
	word-wrap: break-word;
	line-height: 1.2em;
}

/* 中央左寄せ */
.wrapper {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}
.wrapper p {
	text-align: left;
}

a {
	color: #0000FF;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
	cursor: pointer;
}
img{
	width: 100%;
}

li{
	line-height: 1.2em;
}

/* button */
.community {
	float: right;
	width: 30%;
}
.skip {
	margin-top: 1em;
	margin-left: auto;
 	width: 25%;
}


/* haiti */
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.right {
	float: right;
}
.left {
	float: left;
}
.clear {
	clear:both;
}
.hidden {
	display: none;
}

.t_right {
	text-align: right;
}

.t_left {
	text-align: left;
}

.t_center {
	text-align: center;
}

/* size */
.ll_content {
	text-align: center;
	width: 100%;
	margin: 2em auto 2em auto; 
}
.l_content {
	text-align: center;
	width: 90%;
	margin: 2em auto 2em auto; 
}
.m_content {
	text-align: center;
	width: 70%;
	margin: 1em auto 2em auto; 
}
.s_content {
	text-align: center;
	width: 50%;
	margin: 1em auto 2em auto; 
}
div.width5 {
	width: 5%;
}
div.width10 {
	width: 10%;
}
div.width20 {
	width: 20%;
}
div.width30 {
	width: 30%;
}

/* math */
.sup1 {
  /* 上付*/
  font-size: 0.8em;
  position: relative;
  top: -0.6em;
}
.sub1 {
   /* 下付 */
  font-size: 0.8em;
  position: relative;
  top: 0.4em;
  left: -0.2em;
}
.overline{
	text-decoration:overline;
}
.math {
	position: relative;
	bottom:5px;
	width: 3.5%;
	right:2px;
	display:inline-block;
}
.img-middle{
	vertical-align: middle;
}

/* videoタグ */

.video {
	text-align: center;
	margin: auto;
	clear:both;
}

/* youtube */

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom:0.5em;
}

.youtube iframe{
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

.audio {
	text-align: center;
	margin: auto;
}

.link_icon{
	display: inline-block;
	vertical-align: middle;
}

.img-middle{
	vertical-align: middle;
}

.padding{
	padding-left: 18.0000%;
}

/* Ver. 2のセクションのスタイル*/
.subject_section {
	height: 3em;
}

.subject_topic {
	height: 2em;
}

/* Ver. 2のページのスタイル（内カバー用）*/
.subject_cover {
	height: 4em;
}

/* Ver. 2 セクション・ページを囲むスタイル*/
.subject-all {
	width: 70%;
	float: left;
}

.char {
	float: left;
	width: 20%;
}

.char2 {
	float: left;
	width: 30%;
}

